/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background-color: rgb(49, 49, 49);
    color: white;
}

a {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: teal;
    color: white;
}


a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: inherit;
}

a:hover {
    background-color: azure;
    color: teal;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile {
    display: flex;
    flex-direction: row;
    float: left;
    flex-wrap: wrap;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border: solid 3px;
    border-color: aquamarine;
    width: 400px;
    height: 300px;
}

textarea {
    width: 250px;
    height: 70px;
}

.centerMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}