// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border: solid 10px;
    border-color: azure;
    padding: 20px;
    padding-bottom: 0px;
    min-width: 410px;
    max-width: 500px;
    height: auto;
}

.links {
    display: flex;
    flex-direction: row;
    float: left;
}