// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment {
    background-color: gray;
    display: flex;
    flex-direction: column;
    border: solid 3px;
    border-radius: 5px;
    border-color: burlywood;
    color: white;
    margin: 40px;
}